a{text-decoration: none; color: black;}
html{
  background-color: #ECEAE4;
  color: black;
  height: 100%;
}
body{
  background-color: white;
  width: 75%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 13%;
  border-radius: 1em;
  box-shadow: 2px 2px #888888;
}
.title{
  background-color: #DDDBD8;
  width: 100%;
  height: 2em;
  padding-top: 1em;
  text-align: center;
  border-top-left-radius:     1em;
  border-top-right-radius:    1em;
  font-family: 'Poiret One', cursive;
}
ul{
  padding: 0;
  list-style-type: none;
}
li:nth-child(odd){
  text-align: left;
  padding-left: 1em;
  background-color: #fff;
}
li:nth-child(even){
  text-align: left;
  padding-left: 1em;
  background-color: #eee;
}
img{
  margin-right: 1em;
  float: right;
}
#newtodo{
  border-style: none;
  border-bottom-style: solid;
  border-color: #EDEDEE;
  font-family: 'Poiret One', cursive;
  outline: 0;
}
#submit{
  padding:6px 0 6px 0;
  font:bold 13px Arial;
  background:#f5f5f5;
  color:#555;
  border-radius:2px;
  width:100px;
  border:1px solid #ccc;
  box-shadow:1px 1px #aaa;
  outline: 0;
}
#submit:active{
  background-color: #DCDAD7;
}
